[Settings]
RasterDirectory=/home/benc/projects/env-annotate/data/ignore/prec_30sec_tiff
Tags=env-annotate,30sec
Email=ben.s.carlson@gmail.com
Description=downloaded from worldclim, transformed from esri grid to tif using gdal_translate. uploaded using python api.
UserAccessID=981415001458@developer.gserviceaccount.com
EEIDSPath=output
RunLogPath=logs
APIWait=1